.dart_tool/
.packages
.pub/
build/
.idea/
*.iml
.gradle/
.cxx/
local.properties
android/
web/
linux/
macos/
windows/
*.xcuserstate
*.xcworkspace
!ios/*.xcworkspace
ios/Pods/
ios/Podfile.lock
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Runner/Flutter/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.app.dSYM
.github/
!.github/
